div {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #fff; 
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 

  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #fcba03;
    color: #fff; 

    &.m-2 {
      margin: 0 10px;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: darken(#fcba03, 10%); 
    }
  }

  p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #333;
  }
}
