nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 20px;
    transition: color 0.3s ease;

    &:hover {
      color: #fcba03;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
