<div class="test">
  <br>
  <div class="sorting-controls justify-content-center">
    <select id="menucolor" [(ngModel)]="sortBy" (change)="toggleSortDirection()">
      <option value="title" id="">Cím</option>
      <option value="rate" id="">Értékelés</option>
      <option value="year" id="">Év</option>
    </select>

  </div>
  <button class="btn btn-link sorting-controls justify-content-end" (click)="toggleSortDirection()">
    <i [class]="sortDirection === 'asc' ? 'bi bi-arrow-down-up' : 'bi bi-arrow-down-up'"></i>
  </button>
  <div class="movies-container ">
    <h1 id="cimszin" class="text-center">Filmlista</h1>
    <ul>
      @for (movie of movies; track movie.id){
      <li class="movie-item shadow-sm p-0 mb-3 rounded-sm">
        <div class="d-flex align-items-center">
          <div>
            <img src="{{ movie.thumbnail }}" alt="{{ movie.title }}" width="50" height="75">
            <span class="ms-2">{{ movie.title }}</span>
          </div>
          @if(selectedMovieIndex === movie.id){
          <div>
            <form (ngSubmit)="saveEdit()" class="edit-form">
              <input [(ngModel)]="editedTitle" name="editedTitle" type="text" class="form-control" required>
              <button class="btn btn-success btn-sm" [disabled]="!editedTitle">Save</button>
            </form>
          </div>
          }
          <button class="btn btn-primary btn-sm" (click)="editMovie(movie.id)">
            <i class="bi bi-pen-fill"></i>
          </button>

          <button class="btn btn-secondary btn-sm" (click)="deleteMovie(movie)">
            <i class="bi bi-trash2-fill"></i>
          </button>
        </div>
      </li>
      }
    </ul>
  </div>
</div>
