.movies-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.sorting-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  select {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }

  .sort-direction-btn {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; 
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #0056b3; 
    }
  }
}

.movie-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:nth-child(even) {
    background-color: #dcdcdc;
  }

  .movie-thumbnail {
    flex: 0 0 200px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .edit-form {
    display: flex;
    align-items: center;

    input {
      margin-right: 10px;
      padding: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    button {
      padding: 5px 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      background-color: #28a745; 
      color: #fff; 
      cursor: pointer;

      &:disabled {
        opacity: 0.5; 
        cursor: not-allowed;
      }
    }
  }

  .btn {
    margin-left: 10px;
  }
}
