/* You can add global styles to this file, and also import other style files */
@use 'bootstrap/scss/bootstrap';
@use 'bootstrap-icons';

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";


body {
  background-image: url('/assets/img/wp2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
